body {
  font-family: 'Trebuchet MS', 'Lucidia Sans Unicode', sans-serif;
  font-size: 24px;
  margin: 0;
}

#rick {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
}

.loading {
  width: 500px;
  height: 270px;
  margin: auto;
  margin-top: 25%;
  transform: translateY(-50%);
  opacity: 0;
}

.loading .ldBar {
  display: block;
  width: 80% !important;
  height: 100% !important;
  margin: auto;
  margin-bottom: 20px;
}

.loading .ldBar-label {
  display: none;
}

#loading-text {
  font-size: 36px;
  color: #888;
  text-align: center;
  margin: 0;
  animation-duration: 1s;
  opacity: 0;
}

.content {
  width: 800px;
  margin: auto;
}
