body {
  font-family: 'Trebuchet MS', 'Lucidia Sans Unicode', sans-serif;
  font-size: 24px;
  margin: 0;
}

#rick {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#message {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  color: #ddd;
  width: 500px;
  margin: auto;
  text-align: center;
  font-size: 64px;
  padding: 20px;
  margin-top: 25%;
  transform: translateY(-50%);
  opacity: 0;
}

#notification {
  background-color: #ddd;
  color: #555;
  margin: auto;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.loading {
  width: 500px;
  height: 270px;
  margin: auto;
  margin-top: 25%;
  transform: translateY(-50%);
  opacity: 0;
}

.loading .ldBar {
  display: block;
  width: 80% !important;
  height: 100% !important;
  margin: auto;
  margin-bottom: 20px;
}

.loading .ldBar-label {
  display: none;
}

#loading-text {
  font-size: 36px;
  color: #888;
  text-align: center;
  margin: 0;
  animation-duration: 1s;
  opacity: 0;
}

.contentBlock {
  display: none;
  background-color: #eee;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  min-height: 100%;
}

.content {
  width: 1200px;
  margin: auto;
  margin-top: 5vh;
}

.content h1 {
  text-align: center;
  color: #555;
}

.content p {
  text-align: justify;
  line-height: 40px;
  color: #777;
}

.half {
  display: block;
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

br {
  clear: both;
}

.feature {
  text-align: center;
  margin: 60px;
}

.feature h1 {
  font-size: 72px;
  margin: 10px;
}

.feature h2 {
  font-size: 24px;
  color: #777;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 18px;
  }
  .content {
    width: 800px;
  }
  #message {
    width: 300px;
    font-size: 48px;
  }
  .loading {
    width: 300px;
    height: 160px;
  }
  #loading-text {
    font-size: 24px;
  }
  .feature {
    margin: 50px;
    margin-top: 70px;
  }
  .feature h1 {
    font-size: 64px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    width: 300px;
  }
  .left .feature {
    display: none;
  }
  .right {
    width: 100%;
  }
}
